@import "tailwindcss";

@theme {
  --animate-slide-up: slideUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes slideUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@layer base {
  body {
    @apply bg-slate-900 text-slate-50 min-h-screen flex items-center justify-center overflow-x-hidden;
    background-image:
      radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
      radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 0.3) 0, transparent 50%),
      radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 0.3) 0, transparent 50%);
  }
}